# directories
src/
test/
third-party-licenses/

# files
.env
.env.example
.eslintrc.json
.gitignore
.gitlab-ci.yml
.prettierignore
.prettierrc
docker-compose.yml
Dockerfile
license-header.js
nest-cli.json
package-lock.json
sonar.properties
tsconfig.build.json
tsconfig.json
